<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @athlete.name %>!!</h1>
    <p>
      Segue senha provisória para acesso ao portal:
    </p>
      <h4> <%= @password %> </h4>
    <p>
      É muito importante que sua senha seja alterada após o acesso.
    </p>
  </body>
</html>
