<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @organization.name %>!!</h1>
    <p>
      O <%= @user_name %> gostaria de maiores esclarecimentos a respeito do evento
      <b><%= @event.name %></b>, veja abaixo os detalhes:
    </p>
      <h4> <%= @title %> </h4>
    <p>
      <%= @description %>
    </p>
  </body>
</html>
